.formWrapper {
    border: 2px solid rgb(240, 210, 10);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    height: 40vh;
    justify-content: center;
}

.formTitle {
    color: rgb(240, 210, 10);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 30px auto;
}

.fieldWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;
}

.inputFields {
    width: 200px;
    height: 20px;
    border-radius: 8px;
}

.submitButton {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 150px;
    background-color: rgb(240, 210, 10);
    cursor: pointer;
}
