.formWrapper {
    border-radius: 12px;

    flex-direction: column;

    margin-top: 10vh;

    height: auto;
    padding: 30px;

    align-self: center;
}

.fieldWrapper {
    display: flex;
    justify-content: center;
    padding: 0 10px 10px;
}

.inputFields {
    width: 200px;
    height: 20px;
    border-radius: 8px;
}

.submitButton {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 150px;
    background-color: rgb(240, 210, 10);
    cursor: pointer;
}
