.actionButtons {
    height: 3.5vh;
    width: 14vw;
    margin-top: 10px;
}

.actionButtons:hover {
    /* opacity: 0.8; */

}
@media  (731px < height < 1045px ) {
    .profile_img {
        height: 50px;
        width: 50px

    }
}
@media  (height >= 1045px) {
    .profile_img {
        height: 70px;
        width: 70px
    }
}
@media  (height <= 730px) {
    .profile_img {
        height: 40px;
        width: 40px
    }
}


.EditUserForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 360px;
    height: 440px;
    border-radius: 20px;
    justify-content: center;
    color: black;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 80px;
    border: 1.2px solid rgb(181, 180, 180);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

.SignUpFormWrapper {}

.EditUserMessage {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.EditButton {
    width: 200px;
    border-radius: 6px;
    background: yellow;
    color: black;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    cursor: pointer;
}

.InputBox {
    height: 30px;
    border-radius: 3px;
    border: 1.2px solid rgb(181, 180, 180);
    display: flex;
    margin-bottom: 5px;
    margin-left: 4px;
    text-align: start;
    color: rgb(169, 31, 169);

}
.textLabelWrapper {
    text-align: start;
    margin-bottom: 5px;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    color: black;
}
