.actionButtons {
    height: 3.5vh;
    width: 14vw;
    margin-top: 10px;
}

.actionButtons:hover {
    opacity: 0.8;

}

.EditUserForm {
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    width: 300px;
    height: 500px;
    border-radius: 20px;
    justify-content: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border: 1.2px solid rgb(181, 180, 180);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

.SignUpFormWrapper {}

.EditUserMessage {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.InputBox {
    height: 30px;
    border-radius: 5px;
    border: 1.2px solid rgb(181, 180, 180);
    margin-bottom: 10px;
}

.EditButton {
    width: 200px;
    border-radius: 6px;
    background: yellow;
    color: black;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.textLabelWrapper {
    text-align: center;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
