.actionButtons {
    font-size: 14px;

    line-height: 2.5vh;

    height: 4vh;
    width: 8vw;
    
    margin-top: 10px;
}

.actionButtons:hover {
    /* opacity: 0.8; */

}
@media  (731px < height < 1045px ) {
    .profile_img {
        height: 50px;
        width: 50px

    }
}
@media  (height >= 1045px) {
    .profile_img {
        height: 70px;
        width: 70px
    }
}
@media  (height <= 730px) {
    .profile_img {
        height: 40px;
        width: 40px
    }
}

.EditUserMessage {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.EditButton {
    width: 200px;
    border-radius: 6px;
    background: yellow;
    color: black;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    cursor: pointer;
}

.InputBox {
    height: 30px;
    border-radius: 3px;
    border: 1.2px solid rgb(181, 180, 180);
    display: flex;
    margin-bottom: 5px;
    margin-left: 4px;
    text-align: start;
    color: rgb(169, 31, 169);

}
.textLabelWrapper {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    width: 8vw;

    line-height: 5vh;
}
