html {
    font-family: 'Roboto', sans-serif;
    
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    overflow-y: hidden;
    overflow-x: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;

    margin: auto;
    flex-wrap: wrap;
}

.selected {
    font-weight: bold;
    color: yellow;
}

.buzz-input { 
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;

    color: white;
    background-color: rgb(20, 20, 20);

    border: 2px solid rgb(30, 30, 30);
    border-radius: 8px;
}

.buzz-input:focus {
    outline: 1.6px solid yellow;
}

.buzz-input::placeholder {
    text-align: left;
    font-style: italic;
    
    position: relative;
    left: 0.5vw;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(20, 20, 20) inset;
    border: 1.6px solid yellow;
}

.buzz-btn {
    text-align: center;
    font-weight: bold;

    background-color: rgb(240, 210, 10);
    color: black;

    border-radius: 8px;
    border-bottom: 4px solid rgb(165, 165, 0);
    
    padding: 0.2vw;

    cursor: pointer;
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	border-radius: 44px;

    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 44px;
	background-color: yellow;
}