.login-buttons {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;

    border: 4px solid transparent;
    border-radius: 8px;

    background-color: rgb(240, 210, 10);
    border-bottom: 4px solid rgb(165, 165, 0);

    color: black;

    height: 6vh;
    width: 8vw;

    margin-top: 4.5vh;
    margin-right: 1.5vw;
    margin-left: 1.5vw;

    cursor: pointer;
}

@media screen and (height <= 499px) {
    .splash_img {
        display: none;
    }
}

@media screen and (height >= 500px) {
    .splash_img {
        display: flex;
        align-self: center;
        background-color: rgb(240, 210, 10);
        width: 7vw;
        height: 14vh;
        border-radius: 110px;
        margin-bottom: 2vh;
    }
}

@media (max-width: 700px) {
    .splash_img {
        display: none;
    }
}

@media (max-width: 2000px) {
    .splash_img {
        background-color: rgb(240, 210, 10);
        width: 7vw;
        height: 14vh;
        border-radius: 110px;
        margin-bottom: 2vh;
    }
}

@media screen and (height < 499px) {
    .buzz_txt {
        font-size: 35px;
        padding-bottom: 0.2vh;
    }
}

@media screen and (height >= 511px) {
    .buzz_txt {
        font-size: 50px;
        padding-bottom: 0.3vh;
    }
}

@media (width >= 701px) {
    .buzz_txt {
        font-size: 60px;
        padding-bottom: 0.3vh;
    }
}

@media  (width <= 700px) {
    .buzz_txt {
        font-size: 35px;
        padding-bottom: 0.2vh;
    }
}