.login-buttons {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;

    border: 4px solid transparent;
    border-radius: 8px;
    border-bottom: 4px solid rgb(165, 165, 0);

    background-color: rgb(240, 210, 10);
    color: black;

    height: 8vh;
    width: 10vw;

    margin-right: 2vw;
    margin-left: 2vw;

    cursor: pointer;
}

@media screen and (height< 779px) {
    .splash_img {
        display: none;
    }
}
@media screen and (height >= 780px) {
    .splash_img {
        display: flex;
        align-self: center;
        background-color: rgb(240, 210, 10);
        width: 220px;
        height: 210px;
        border-radius: 110px;
        margin-bottom: 2vh;
    }
}
@media screen and (height < 510px) {
    .buzz_txt {
        display: flex;
        font-size: 50px;
        background-color: rgb(240, 210, 10);
        align-self: center;
        padding-bottom: 0.2vh;
        border-radius: 20px;
        border-bottom: 4px solid rgb(165, 165, 0);
        background-color: rgb(240, 210, 10);
    }
}
@media screen and (height >= 511px) {
    .buzz_txt {
        display: flex;
        font-size: 90px;
        background-color: rgb(240, 210, 10);
        align-self: center;
        padding-bottom: 0.3vh;
        border-radius: 20px;
        border-bottom: 4px solid rgb(165, 165, 0);
        background-color: rgb(240, 210, 10);
    }
}
